{% extends 'arenda/base.html' %}
{% load i18n %}
{% load static %}
{% block content %}  

<div class="container">
    {% if 'ru' in request.path %}
        <h2 class="text-left color-title">{{ yacht.name }}</h2><br>
    {% else %}
        <h2 class="text-left color-title">{{ yacht.name_en }}</h2><br>
    {% endif %}
    

        <section>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-8 mb-2 order-lg-1">
                        <div class="imageGallery">
                            <!-- id="mainImage" -->                     
                            <a href="{{ yacht.img_main.url }}" data-fancybox="gallery">
                                <img src="{{ yacht.img_main.url }}" alt="Flower" class="mainImage">
                            </a>                      
                        </div>
                    </div>
                    <div class="col-lg-8 mb-4 order-lg-3">
                        <div class="imageSelector">
                            <div class="thumbnail-container">
                                {% if  yacht.img_1 %}
                                    <a href="{{ yacht.img_1.url }}" data-fancybox="gallery">
                                        <img src="{{ yacht.img_1.url }}" alt="Flower 2" class="thumbnail">
                                    </a>
                                {% endif %}
                                {% if  yacht.img_2 %}
                                    <a href="{{ yacht.img_2.url }}" data-fancybox="gallery">
                                        <img src="{{ yacht.img_2.url }}" alt="Flower 3" class="thumbnail">
                                    </a>
                                {% endif %}
                                {% if  yacht.img_3 %}
                                    <a href="{{ yacht.img_3.url }}" data-fancybox="gallery">
                                        <img src="{{ yacht.img_3.url }}" alt="Flower 4" class="thumbnail">
                                    </a>
                                {% endif %}
                                {% if  yacht.img_4 %}
                                    <a href="{{ yacht.img_4.url }}" data-fancybox="gallery">
                                        <img src="{{ yacht.img_4.url }}" alt="Flower 4" class="thumbnail">
                                    </a>
                                {% endif %}
                                {% if  yacht.img_5 %}
                                    <a href="{{ yacht.img_5.url }}" data-fancybox="gallery">
                                        <img src="{{ yacht.img_5.url }}" alt="Flower 5" class="thumbnail">
                                    </a>
                                {% endif %}
                                {% if  yacht.img_6 %}
                                    <a href="{{ yacht.img_6.url }}" data-fancybox="gallery">
                                        <img src="{{ yacht.img_6.url }}" alt="Flower 6" class="thumbnail">
                                    </a>
                                {% endif %}
                                {% if  yacht.img_7 %}
                                    <a href="{{ yacht.img_7.url }}" data-fancybox="gallery">
                                        <img src="{{ yacht.img_7.url }}" alt="Flower 7" class="thumbnail">
                                    </a>
                                {% endif %}
                                {% if  yacht.img_8 %}
                                    <a href="{{ yacht.img_8.url }}" data-fancybox="gallery">
                                        <img src="{{ yacht.img_8.url }}" alt="Flower 8" class="thumbnail">
                                    </a>
                                {% endif %}
                                {% if  yacht.img_9 %}
                                    <a href="{{ yacht.img_9.url }}" data-fancybox="gallery">
                                        <img src="{{ yacht.img_9.url }}" alt="Flower 9" class="thumbnail">
                                    </a>
                                {% endif %}
                                {% if  yacht.img_10 %}
                                    <a href="{{ yacht.img_10.url }}" data-fancybox="gallery">
                                        <img src="{{ yacht.img_10.url }}" alt="Flower 10" class="thumbnail">
                                    </a>
                                {% endif %}
                                {% if  yacht.img_11 %}
                                    <a href="{{ yacht.img_11url }}" data-fancybox="gallery">
                                        <img src="{{ yacht.img_11.url }}" alt="Flower 11" class="thumbnail">
                                    </a>
                                {% endif %}
                                {% if  yacht.img_12 %}
                                    <a href="{{ yacht.img_12.url }}" data-fancybox="gallery">
                                        <img src="{{ yacht.img_12.url }}" alt="Flower 12" class="thumbnail">
                                    </a>
                                {% endif %}
                                {% if  yacht.img_13 %}
                                    <a href="{{ yacht.img_13.url }}" data-fancybox="gallery">
                                        <img src="{{ yacht.img_13.url }}" alt="Flower 13" class="thumbnail">
                                    </a>
                                {% endif %}
                                {% if  yacht.img_14 %}
                                    <a href="{{ yacht.img_14.url }}" data-fancybox="gallery">
                                        <img src="{{ yacht.img_14.url }}" alt="Flower 14" class="thumbnail">
                                    </a>
                                {% endif %}
                                {% if  yacht.img_15 %}
                                    <a href="{{ yacht.img_15.url }}" data-fancybox="gallery">
                                        <img src="{{ yacht.img_15.url }}" alt="Flower 15" class="thumbnail">
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </section>
        <div class="container">
            {% if 'ru' in request.path %}
                <p class="card-text">{{ yacht.description}}</p>
            {% else %}
                <p class="card-text">{{ yacht.description_en }}</p>
            {% endif %}
        </div><br>
        <div class="col-lg-4 p-2 m-0 order-lg-2">
            <h3><b>{% trans 'Characteristics' %}</b></h3>
            <p>- {% trans 'Year of production' %} {{ yacht.year }}</p>
            <p>- {% trans 'Maximum number of guests' %} {{ yacht.people }}</p>
            <p>- {{ yacht.shower_k }} {% trans 'Number of shower cabins' %}</p>
            <p>- {{ yacht.long }} {% trans 'long' %}</p>
            <p>{% if yacht.price_min %} {% trans 'Price' %}: {% trans 'from' %} {{ yacht.price_min }} € {% else %} {% trans 'Price on request' %}  {% endif %}</p>
            <p>{{ yacht.description_1 }}</p>
            {% if yacht.Location %}
                <h3 class="text-left color-title">{% trans 'Location' %}</h3>
                {% if 'ru' in request.path %}
                    <p class="text-left">{{ yacht.Location }}</p><br>
                {% else %}
                    <p class="text-left">{{ yacht.Location_en }}</p><br>
                {% endif %}
            {% endif %}
            <a href="#contact" class="btn btn-color">{% trans 'Leave an inquiry' %}</a>
        </div><br>

        <div class="row m-1" id="but">
            <div class="text-left">
                <div class="text-left p-5 img-index-maps"><br><br>
                    <div class="maps-widgh">
                        <h4>{% trans 'Contact Us' %}</h4>

                        <p>{% trans 'Office in Italy, Olbia, Via Pisa, 30' %}</p>
                        <p>{% trans 'Office in Russia, Moscow, ul. Okskaya d. 5 k.1' %}</p>
                        <p><a href="mailto:info@samokhingroup.com">info@samokhingroup.com</a></p>
                        <p><a href="https://wa.me/+393318654167"><i class="bi-whatsapp" style="color:green; font-size:25px;"></i> +39 331 865 4167 (Italy)</a></p>
                        <p><a href="tel:+79652437557"> +7 965 243 75 57 (Russia)</a></p>
                    </div><br>
                </div>
            </div>
        </div><br>

        <div class="row m-1" id="contact">
            <div class="text-left">
                <div class="text-left p-5 img-index-contact"><br><br>
                    <h2 class="color-text">{% trans 'Leave an Inquiry' %}</h2><br>
                    <h4 class="color-text">{% trans 'And we will help you find' %}</h4>
                    <h4 class="color-text">{% trans 'comfortable accommodation for you' %}</h4><br>
        
                    <form method="post" action="{% url 'post_applications'%}">
                        {% csrf_token %}
                        <div class="form-line">
                            <input class="input-widgt" name="name" type="text" placeholder="{% trans 'Your name' %}" required>
                        </div>
                        <div class="form-line">
                            <input class="input-widgt" name="email" type="email" placeholder="{% trans 'Email' %}" required>
                        </div>
                        <div class="form-line">
                            <input class="input-widgt" name="tel" type="number" placeholder="{% trans 'Phone' %}" required>
                        </div><br><br>
                        <div class="form-group">
                            <input class="btn btn-color" type="submit" value="{% trans 'Send Inquiry' %}"><br>
                        </div>
                    </form><br> 
                </div>
            </div>
        </div><br>

    </div>
      
</div><br>
<script>
    $(document).ready(function () {
      $('[data-fancybox="gallery"]').fancybox({
        // Настройки FancyBox, если необходимо
      });
    });
  </script>
  
{% endblock content %}             